workflows/Restaurant CS AI Agent.json
{
  "name": "Restaurant CS AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -64
      ],
      "id": "cd200431-cb1a-452e-9126-f276bb62a2a5",
      "name": "Telegram Trigger",
      "webhookId": "02f7ab34-d848-40f1-ada1-325fee08192f",
      "credentials": {
        "telegramApi": {
          "id": "ASDBECwpo7Pp26MH",
          "name": "Restaurant"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=###ROLE\n** You are my restaurant customer support manager. Your role is to route user message to one of your employees.\n\n\n###EMPLOYEES\n** Questions Expert: If the user has any questions about our menu or the restaurant\n** Orders Expert: If the user wants to make or cancel an order. If the user provides his information. If the user has any question about his order. If the user has chosen a specific order or items. If the user provides the order ID.\n** Generalist: If the user sent a general message (e.g. Hi, Good morning)\n\n\n###OUTPUT EXAMPLE\n{\n\"employee\": \"Questions Expert\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        48,
        -64
      ],
      "id": "3c02ada3-84ac-4502-a5fe-3ad9a8c2b750",
      "name": "Basic LLM Chain",
      "retryOnFail": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"employee\": {\n      \"type\": \"string\",\n      \"description\": \"The employee chosen by AI\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        128
      ],
      "id": "970c9f2c-e685-4629-85ce-bc843ac2be6a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        144
      ],
      "id": "5d7c4941-9daa-4767-9d3c-e23e1bcfe5a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eIDhpzFC70AkatDf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Generalist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "599c025b-f6ec-4cb6-82c0-05a7c8cfd895"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generalist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ccf9dcd-5408-46ee-a316-d70483348a5f",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Orders Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orders Expert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6c9f4c4-2465-476e-9408-c031e0fea2e4",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Questions Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Questions Expert"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        -64
      ],
      "id": "1eba4e51-7c94-402d-882c-fb4374ea426e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0431b798-0750-44e4-8cdb-3c776131244c",
              "name": "System Prompt",
              "value": "You are my restaurant customer support expert.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -304
      ],
      "id": "dcd48e06-eb78-4f40-a6b7-fe4a9e429b49",
      "name": "General System Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0431b798-0750-44e4-8cdb-3c776131244c",
              "name": "System Prompt",
              "value": "=### ROLE\nYou are my restaurant expert in replying to users' questions. Use your connected knowledge base to reply to any inquery.\n\n### TOOLS\n** restaurant_knowledge_base: Find here our information related to the restaurant and menu",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        176
      ],
      "id": "64e8e7f7-062d-4602-b943-39bc2bd61d05",
      "name": "Question System Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0431b798-0750-44e4-8cdb-3c776131244c",
              "name": "System Prompt",
              "value": "=### ROLE\n** You are responsible for orders management in our restaurant. Making an order, Cancelling an order, replying to inqueries about an order.\n\n### TOOLS\n** orders_sheet_read_tool: you use it to reply to users asking about their orders after getting the order ID from the user\n** code_tool: use it to generate a unique ID of 4 numbers before using orders_sheet_write_tool\n** orders_sheet_write_tool: you use it to add an order to the sheet.\n** order_sheet_cancel_tool: you use it to cancel an order\n** restaurant_knowledge_base: Find here our information related to the restaurant and menu\n\n### INSTRUCTIONS\n** Ask the user about all needed data, Name, Phone Number, Address, Order. MAKE SURE to collect all needed data\n** Confirm order data before using adding it to the sheet or cancelling it\n** If a user wants to cancel an order, make sure to take the order ID whether from conversation history or ask the user. ** If you can't find an order for a certain ID, tell them that their order wasn't taken successfully, please tell me your order again\n** Always generate a unique ID using code_tool before saving the order\n** After saving an order, Always send order ID in your message\",\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -48
      ],
      "id": "e45495ef-733e-42b4-943a-310608c9629c",
      "name": "Orders System Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "={{ $json['System Prompt'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1328,
        -32
      ],
      "id": "d1b8b36b-a68a-4937-87e7-af307d6a0598",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1344,
        176
      ],
      "id": "850fb9bf-541f-4203-9261-cc57fbe14c48",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI",
          "mode": "list",
          "cachedResultName": "Salta3 Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order ID",
              "lookupValue": "={{ $fromAI(\"order_id\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1696,
        80
      ],
      "id": "f4611bc3-d204-447c-8be8-11856f025798",
      "name": "orders_sheet_read_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tAnJ0NBurtOLvQMw",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI",
          "mode": "list",
          "cachedResultName": "Salta3 Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Item": "={{ $fromAI(\"order_item\") }}",
            "Price": "={{ $fromAI(\"order_price\") }}",
            "Order ID": "={{ $fromAI(\"order_id\") }}",
            "Name": "={{ $fromAI(\"client_name\") }}",
            "Phone Number": "={{ $fromAI(\"client_phone\") }}",
            "Address": "={{ $fromAI(\"client_address\") }}",
            "Status": "In Kitchen"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1776,
        112
      ],
      "id": "c71ca061-d2b7-40e7-ad87-2d9bf3d9b55c",
      "name": "orders_sheet_write_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tAnJ0NBurtOLvQMw",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI",
          "mode": "list",
          "cachedResultName": "Salta3 Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wfGNbg18vWdFMpillFYHjiy7nFpCERmQ7cI9luZXyAI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $fromAI(\"order_id\") }}",
            "Status": "Cancelled "
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1856,
        144
      ],
      "id": "eb688c1f-ed85-4f25-99db-02862865fdbd",
      "name": "order_sheet_cancel_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tAnJ0NBurtOLvQMw",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate a unique 4-digit order ID without imports\nconst orderId = (Math.floor(1000 + Math.random() * 9000)).toString();\nreturn orderId;\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1728,
        256
      ],
      "id": "fcda1452-9c19-40ca-8e7c-7690f09087d9",
      "name": "code_tool"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Information about restaurant menu and information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1696,
        416
      ],
      "id": "9956c7e7-6064-4a07-a242-aa38ed44c349",
      "name": "restaurant_knowledge_base",
      "credentials": {
        "supabaseApi": {
          "id": "KBx2SaMiV5qpZgJi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1680,
        544
      ],
      "id": "37ab064a-e8ee-44ff-b939-6dc85f1c59fb",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Jcb5RsdheJDRKRIz",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -176
      ],
      "id": "93504c57-ec54-41b3-87eb-f21d27179e23",
      "name": "Send a text message",
      "webhookId": "a3770025-59d5-4038-aa24-56a8137d899b",
      "credentials": {
        "telegramApi": {
          "id": "ASDBECwpo7Pp26MH",
          "name": "Restaurant"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "General System Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders System Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_read_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_write_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_sheet_cancel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "code_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "restaurant_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "restaurant_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e341eedd-88ae-4238-b5c6-f59881fc0002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5229ad676c3a8d293c6db345f673ae85f2faeec97332d940e6b8ecea4c050d50"
  },
  "id": "mhod6wlYZrWKD2sj",
  "tags": []
}